<div mat-dialog-content>
  <form class="example-container" [formGroup]="userForm">
    <!-- first name second name -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input
            id="firstName"
            name="firstName"
            [(ngModel)]="data.firstName"
            class="form-control"
            formControlName="firstName"
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="lastName">Second name</label>
          <input
            id="lastName"
            name="lastName"
            [(ngModel)]="data.lastName"
            class="form-control"
            formControlName="lastName"
          />
        </div>
      </div>
    </div>
    <!-- ADDRESS -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="address">Address</label>
          <input
            id="address"
            name="address"
            [(ngModel)]="data.address"
            class="form-control"
            formControlName="address"
          />
        </div>
      </div>
    </div>
    <!-- contact -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            id="phone"
            name="phone"
            [(ngModel)]="data.phone"
            class="form-control"
            formControlName="phone"
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            [(ngModel)]="data.email"
            class="form-control"
            formControlName="email"
          />
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save(data)">Ok</button>
</div>
