<h1>Order number {{ data.id }}</h1>
<div>
  <form class="example-container" [formGroup]="orderForm">
    <!-- date from date to row -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="dateFrom">Date from</label>
          <input
            id="dateFrom"
            name="dateFrom"
            [(ngModel)]="data.dateFrom"
            type="datetime-local"
            bsDatepicker
            class="form-control"
            formControlName="dateFrom"
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="dateTo">Date to</label>
          <input
            id="dateTo"
            name="dateTo"
            [(ngModel)]="data.dateTo"
            type="datetime-local"
            bsDatepicker
            class="form-control"
            formControlName="dateTo"
          />
        </div>
      </div>
    </div>
    <span *ngIf="dateError">Date path must match DD.MM.RRRR HH:MM. </span>
    <!-- TODO - poprawic ta walidacje uzywajac formbuilder albo cos -->
    <mat-divider></mat-divider>

    <!-- user input -->
    <div class="row">
      <div class="col">
        <label>User</label>
        <ng-select
          [items]="users"
          bindLabel="firstName"
          autofocus
          bindValue="id"
          [(ngModel)]="data.user"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-select>
      </div>

      <!-- status picklist -->
      <div class="col">
        <label>Status</label>
        <ng-select
          [items]="statuses"
          bindLabel="status"
          autofocus
          bindValue="data.status"
          [(ngModel)]="data.status"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-select>
      </div>
    </div>
    <mat-divider></mat-divider>

    <!-- bikes row -->
    <div class="row">
      <div class="col">
        <label for="adultBikes">How many adults bike do you want?</label>
        <input
          matInput
          id="adultBikes"
          name="adultBikes"
          type="number"
          formControlName="adultBikes"
          [(ngModel)]="data.adultBike"
        />
      </div>
      <div class="col">
        <label for="childBikes">How many childs bike do you want?</label>
        <input
          matInput
          id="childBikes"
          name="childBikes"
          type="number"
          formControlName="childBikes"
          [(ngModel)]="data.childBike"
        />
      </div>
    </div>

    <!-- locks/helmets row -->
    <div class="row">
      <div class="col">
        <label for="helmet">How many helmets do you want?</label>
        <input
          matInput
          id="helmet"
          name="helmet"
          type="number"
          formControlName="helmet"
          [(ngModel)]="data.helmet"
        />
      </div>
      <div class="col">
        <label for="lock">How many locks do you want?</label>
        <input
          matInput
          id="lock"
          name="lock"
          type="number"
          formControlName="lock"
          [(ngModel)]="data.lock"
        />
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="row">
      <div class="col">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="data.pickup"
          name="pickup"
          formControlName="pickup"
        >
          Pickup
        </mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="data.pickup" class="example-margin">
          Same pickup address to/from
        </mat-checkbox>
      </div>
    </div>
    <div *ngIf="data.pickup">
      <div class="row">
        <div class="col">
          <textarea
            matInput
            placeholder="Pickup from"
            [(ngModel)]="data.pickupFrom"
            formControlName="pickupFrom"
          ></textarea>
        </div>
        <div class="col">
          <textarea
            matInput
            placeholder="Pickup to"
            [(ngModel)]="data.pickupTo"
            formControlName="pickupTo"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="pickupDistance">Pickup distance</label>
          <input
            matInput
            id="pickupDistance"
            name="pickupDistance"
            type="number"
            formControlName="pickupDistance"
            [(ngModel)]="data.pickupDistance"
          />
        </div>
        <div class="col">
          <label for="pickupValue">Pickup value</label>
          <input
            matInput
            id="pickupValue"
            name="pickupValue"
            type="number"
            formControlName="pickupValue"
            [(ngModel)]="data.pickupValue"
          />
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- costs -->
    <div class="row">
      <div class="col">
        <label for="initialValue">Initial value</label>
        <input
          matInput
          id="initialValue"
          name="initialValue"
          #initialValue
          type="number"
          formControlName="initialValue"
          [(ngModel)]="data.initialValue"
        />
        <!-- todo zrobic disable warunkowo na nowe i istniejace zamowienia -->
      </div>
      <div class="col">
        <label for="finalValue">Final value</label>
        <input
          matInput
          id="finalValue"
          name="finalValue"
          type="number"
          formControlName="finalValue"
          [(ngModel)]="data.finalValue"
        />
      </div>
    </div>
    <mat-divider></mat-divider>

    <!-- creation date -->
    <div class="form-group">
      <label for="createdDate">Creation date</label>
      <input
        id="createdDate"
        name="createdDate"
        [(ngModel)]="data.createdDate"
        type="datetime-local"
        bsDatepicker
        class="form-control"
        formControlName="createdDate"
        disabled
      />
    </div>
  </form>
</div>
<div>
  <button (click)="onNoClick()">Cancel</button>
  <button (click)="save(data)">Ok</button>
</div>
