.bg{
    content: "";
	background-image: url(/../../assets/login.jpg);
	/* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    position: absolute;
    z-index: -1;   
}
