<img src="/../../assets/logo.png">
<div class="bg center-block">
  <div class="jumbotron col-md-3">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <div for="username" class="control-label">Username</div>
        <input type="text"  name="username" [(ngModel)]="credentials.username" #username="ngModel" required placeholder="Username"
          id="username" />
        <span [hidden]="username.valid || username.pristine">
          Name is required
        </span>
      </div>
        <div class="form-group">
          <div for="password" class="control-label">Password</div>
          <input type="password"  name="password" [(ngModel)]="credentials.password" #password="ngModel" required
            placeholder="Password" id="password" />
          <span [hidden]="password.valid || password.pristine">
            Password is required
          </span>
        </div>
      <button class="btn btn-primary float-right" [disabled]="!loginForm.form.valid">Log In</button>
      <span *ngIf="error" class="float-right">
          {{error}}
      </span>
    </form>
  </div>
</div>